/* FUENTE QUESTRIAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Questrial&display=swap');

/* -----RESETEO----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  -----VARIABLES GENERALES------*/
:root {
    --primary-color: rgb(4, 8, 19);
    ;
    --secondary-color: rgb(8, 38, 109);
    --tertiary-color: rgb(84, 175, 235);
    --text-color-light: rgb(0, 0, 0);
    --text-color-dark: rgb(255, 255, 255);
    --navbar-text-color: rgb(0, 0, 0);
    --background-light: rgb(241, 242, 247);
    --background-dark: rgb(0, 0, 0);
    /* --background-ld: rgb(0, 0, 0) */
    --background-card: rgb(241, 242, 247);
    --background-card-dark: rgb(61, 70, 77);
    --background-card-interna-dark: rgb(95, 95, 95);
    --background-tecnologias-light: rgb(225, 232, 240);
    --background-tecnologias-dark: rgb(95, 95, 95);
    --font-family: 'Questrial', sans-serif;
}

/* -----ESTILOS GENERALES------*/

html,
body {
    font-family: var(--font-family) !important;
    color: var(--text-color-light);
}

header {
    background-color: var(--background-light);
    color: var(--text-color-light);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-light);
    font-family: var(--font-family) !important;
    ;
}

p {
    color: var(--text-color-light);
    font-family: var(--font-family);
    margin-bottom: 0;
}

a {
    color: var(--navbar-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color -color);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.justify {
    text-align: justify;
}

.flexRow {
    display: flex;
    flex-direction: row
}

.flexColumn {
    display: flex;
    flex-direction: column
}

.dark {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p {
    color: var(--text-color-dark);
}

.modo-oscuro {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
}


.boton-grad {
    background-image: linear-gradient(to right, #2c3e50 0%, #3498db 51%, #2c3e50 100%)
}

.boton-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: block;
}

.boton-grad:hover {
    background-position: right center;/*cambio de direccion del fondo*/
    color: #fff;
    text-decoration: none;
}






/* -----ESTILOS DEL NAVBAR------ */
/* estios del navbar en version light, cuando se ve la clase .dark adelante es el manejo de atributos para el modo oscuro que se activa con el toggle en js */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.logo p {
    margin-left: 2em;
    margin-top: 0;
}

.logo img {
    margin-left: 2em;
    cursor: pointer;
    width: 120px;
    height: auto;

}

.logo:hover {
    transform: scale(1.1);
}

/* estilos de la barra de navegacion */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2em;
    padding-right: 4em;
    padding-top: 0.5em;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li img {
    width: 25px;
    height: auto;
    cursor: pointer;
    align-items: center;
}

.nav-links li a {
    color: var(--navbar-text-color);
    width: 6em;
    height: 5em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links li a:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

.dark .nav-links li a {
    color: var(--color-offwhite);
}

.active-link {
    color: var(--secondary-color) !important;
    font-weight: bold;
}

.dark .active-link {
    color: var(--tertiary-color) !important;
    font-weight: bold;
    text-shadow: 0 0 10px var(--tertiary-color), 0 0 20px var(--tertiary-color), 0 0 40px var(--tertiary-color), 0 0 80px var(--tertiary-color);
}

.dark .nav-links li a:hover {
    color: rgb(0, 170, 255);
}

/* esta clase indica que el color de los inconos es originalmente negro, y cuando se activa el modo oscuro se invierte - filter invert es el negativo, por ende se ve blanco */
.icono-blanco {
    filter: invert(0);
}

.dark .icono-blanco {
    filter: invert(1);
}



/* menu hamburguesa */
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

/* las tres lineas clasicas de un menu hamburguesa */
.burger span {
    background: black !important;
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

/* estas clases controlan el comportamiento de las tres lineas para que al hacer click, se muevan formando una cruz y vuelvan a su estado orginal */
.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
    /* esta borra */
}

.burger.active span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger.active span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger.active span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* boton toggle darkmode*/
/* switch container */
.switch {
    --transition: 300ms;
    --transition500: 500ms;
    --color-dark: #0c0f14;
    --color-darkGray: #21262e;
    --color-gray: #52555a;
    --color-offwhite: #cecece;
    --shadow-color: var(--color-dark);
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: fit-content;
    background-color: var(--color-dark);
    border-radius: 30px;
    padding: 4px;
    transition: var(--transition500);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

/* Svg styles */
.switch .svg {
    transition: var(--transition);
    position: absolute;
    left: 5px;
}

.switch .moon {
    width: 18px;
    fill: var(--color-gray);
    opacity: 1;
}

.switch .sun {
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: calc(100% - 21.5px);
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.8;
    opacity: 0;
}

.switch .sun .dot {
    position: relative;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--color-dark);
    background: white;
    z-index: 1;
    box-shadow: 11px 0px 0px var(--shadow-color),
        10.3px 0px 0px var(--shadow-color), -11px 0px 0px var(--shadow-color),
        -10.3px 0px 0px var(--shadow-color), 0px -11px 0px var(--shadow-color),
        0px -10.3px 0px var(--shadow-color), 0px 11px 0px var(--shadow-color),
        0px 10.3px 0px var(--shadow-color), 8px 8px 0px var(--shadow-color),
        7.3px 7.3px 0px var(--shadow-color), 8px -8px 0px var(--shadow-color),
        7.3px -7.3px 0px var(--shadow-color), -8px -8px 0px var(--shadow-color),
        -7.3px -7.3px 0px var(--shadow-color), -8px 8px 0px var(--shadow-color),
        -7.3px 7.3px 0px var(--shadow-color);
}

.switch .sun .dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    border: 2px solid var(--color-dark);
}

/*checkbox styles */
.switch .circle {
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 0;
    background-color: var(--color-darkGray);
    border: 1px solid var(--color-darkGray);
    transition: var(--transition500);
    box-shadow: 1px 1px 20px 3px var(--color-darkGray);
}

.switch:has(.circle:checked) {
    background: var(--color-offwhite);
}

.switch .circle:hover {
    margin-left: 3px;
}

.switch .circle:checked:hover {
    margin-left: -3px;
}

.switch .circle:checked {
    left: calc(100% - 24px);
    background: white;
    border-color: white;
    box-shadow: 1px 1px 30px 12px white;
}

.switch:has(.circle:checked)>.sun {
    opacity: 1;
}

.switch:has(.circle:checked)>.moon {
    opacity: 0;
}

.dark .burger span {
    background-color: #fff !important;
}

.dark .nav-links {
    background-color: var(--background-dark) !important;
}

/* las medias queries manejan los atributos de cada clase de acuerdo al tamaño de la pantalla. En este caso se maneja la visibilidad del menu hamburguesa cuando la pantalla es mas pequeña de 935 pixeles */
@media (max-width: 935px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        z-index: 1000;
    }

    .nav-links li a{
        height: 2em;
    }

    .nav-links.active {
        display: flex;
        color: black;
        background-color: var(--background-light);
        margin-top: 5em;
        border-bottom: solid 1px var(--background-dark);
        padding: 1em;
    }

    .dark .nav-links.active {
        color: var(--color-offwhite);
    }

    .burger {
        display: block;
    }
}



/* ------ESTILOS DEL HOME------- */
.container-perfil {
    display: flex;
    gap: 2em;
    margin: 3em;
}

#perfil {
    flex-grow: 1;
    width: 40%;
    border-radius: 15px;
}

#perfil img {
    width: 20vw;
    height: auto;
    margin: 0 auto;
}

.card-perfil {
    border-radius: 15px;
    ;
}

.dark .card-perfil {
    background-color: var(--background-card-dark);
}

.card-interna-perfil {
    background-color: var(--background-light);
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
}

.dark .card-interna-perfil {
    background-color: var(--background-card-interna-dark);
}

.card-interna-perfil img {
    width: 1.5em !important;
    height: auto;
}

.perfil-paginas {
    padding: 1em 0;
}

.card-body {
    flex-grow: 1;
}

.botonera-redes-perfil {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 2em 0;
}

.botonera-redes-perfil a img {
    width: 3em!important;
    height: auto;
    cursor: pointer;
    transition: 0.3fs;
}

.botonera-redes-perfil a img:hover {
    transform: scale(1.2);
}

#sobre-mi {
    flex-grow: 1;
    width: 60%;
}

.card-sobre-mi {
    border-radius: 15px;
}

.dark .card-sobre-mi {
    background-color: var(--background-card-dark);
}

@media (max-width: 960px) {
    .container-perfil {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .card-interna-perfil {
        width: 100%;
        margin: 0 auto;
    }

    #perfil {
        width: 100%;
    }

    .fotoperfil {
        width: 50vw !important;                 
    }

    #sobre-mi {
        width: 100%;
    }

    #contacto {
        width: 100% !important;
    }

    
}

@media (max-width: 650px) {
    .que-hago {
        flex-direction: column;
    }
}

/* -----ESTILOS DE la PAGINA SERVICIOS--- */

@media (max-width: 960px) {
    .container-servicios {
        #perfil {
            display: none;
        }
    }
}

@media (max-width: 650px) {
    .card-servicios {
        flex-direction: column;
    }

    .boton-grad {
        font-size: 11px;
    }
}


/* -----ESTILOS PAGINA PROYECTOS------ */
.card-interna-proyectos {
    background-color: var(--background-light);
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    height: 16rem;
}

.dark .card-interna-proyectos {
    background-color: var(--background-card-interna-dark);
}

.card-interna-proyectos img {
    width: 100%;
    margin: 0 auto;
    height: 150px;
}

.card-externa-proyectos {
    border-radius: 15px;
    border: none;
    background-color: transparent;
}

.dark .hs img {
    filter: invert(1);
}

.dark .apple img {
    filter: invert(1);
}

.dark .tigrevet img {
    margin-bottom: 1.5em;
}

@media (max-width: 960px) {
    .container-proyectos {
        #perfil {
            display: none;
        }
    }

    .card-interna-proyectos {
        width: 100% !important;
        height: auto;
    }
}


/* SECCION CURRICULUM */
.card-curriculum {
    border-radius: 15px;
    width: 100%;
}

.dark .card-curriculum {
    background-color: var(--background-card-dark);
}

.card-interna-curriculum {
    background-color: var(--background-light);
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

.dark .card-interna-curriculum {
    background-color: var(--background-card-interna-dark);
    box-shadow: 0 0 8px rgb(178, 175, 175);
}

.tecnologias {
    border: solid 1px var(--text-color-light);
    background-color: var(--background-tecnologias-light);
    border-radius: 1em;
    padding: 0 0.7em;
}

.dark .tecnologias {
    background-color: var(--background-tecnologias-dark);
}

.carousel-item img {
    width: 87%;
    height: auto;
    border-radius: 15px;
}

@media (max-width: 960px) {
    .container-curriculum {
        #perfil {
            display: none;
        }

        #tecnologias {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .card-curriculum {
        width: 100%!important;
        margin: 0 auto;
    }
}


/* -----ESTILOS DE la PAGINA CONTACTAME---- */

    #contacto {
        width: 70%;
        background-image: url(../assets/formulario-light.jpg);
        background-size: cover;
        background-position: top;
        color: var(--primary-color);
        padding: 50px;
        text-align: center;
        border-radius: 10px;
    }

    .formulario {
        width: 80%;
        margin: 0 auto;
        padding: 3em;
        border: solid 2px white;
        background-color: transparent;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 20px rgb(160, 160, 160);
        border-radius: 25px;
    }

    .formulario h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    .formulario label {
        display: block;
        text-align: left;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .formulario input,
    .formulario textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .dark #contacto {
        background-image: url(../assets/formulario-dark-2.jpg);
    }

    .dark .formulario label {
        color: var(--text-color-dark);
    }

    @media (max-width: 960px) {
        .container-contacto {
            #perfil {
                display: none;
            }
        }

        #contacto {
            width: 100%!important;
            padding: 0;
        }

        .formulario {
            width: 100%!important;
        }
    }



    /* -----ESTILOS FOOTER------ */

    footer {
        background-color: var(--background-light);
        color: var(--primary-color);
        padding: 50px;
        text-align: center;
        box-shadow: 4px 0px 8px 04px rgba(0, 0, 0, 0.2);
    }